USE [master]
GO
/****** Object:  Database [RecruitmentDB]    Script Date: 7/24/2026 7:42:11 PM ******/
CREATE DATABASE [RecruitmentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RecruitmentDB', FILENAME = N'D:\sql server 2025\MSSQL17.MSSQLSERVER\MSSQL\DATA\RecruitmentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RecruitmentDB_log', FILENAME = N'D:\sql server 2025\MSSQL17.MSSQLSERVER\MSSQL\DATA\RecruitmentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RecruitmentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RecruitmentDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/24/2026 7:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 7/24/2026 7:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[CandidateId] [int] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[MatchScore] [decimal](18, 2) NULL,
	[AppliedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Applications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 7/24/2026 7:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Action] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[Details] [nvarchar](max) NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidateProfiles]    Script Date: 7/24/2026 7:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Headline] [nvarchar](max) NULL,
	[Skills] [nvarchar](max) NULL,
	[ExperienceYears] [int] NULL,
	[ResumeUrl] [nvarchar](max) NULL,
	[Education] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Certifications] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[ProfileImage] [nvarchar](max) NULL,
 CONSTRAINT [PK_CandidateProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluations]    Script Date: 7/24/2026 7:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[EvaluatorId] [int] NOT NULL,
	[Score] [decimal](18, 2) NULL,
	[Feedback] [nvarchar](max) NULL,
	[Decision] [nvarchar](max) NULL,
	[EvaluatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Evaluations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interviews]    Script Date: 7/24/2026 7:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[ScheduledTime] [datetime2](7) NOT NULL,
	[InterviewerId] [int] NOT NULL,
	[Mode] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Interviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobPostings]    Script Date: 7/24/2026 7:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobPostings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecruiterId] [int] NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[RequiredSkills] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[PostedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JobPostings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 7/24/2026 7:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Department] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Organizations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillAssessments]    Script Date: 7/24/2026 7:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillAssessments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CandidateId] [int] NOT NULL,
	[SkillName] [nvarchar](max) NOT NULL,
	[ProficiencyLevel] [nvarchar](max) NULL,
	[Source] [nvarchar](max) NULL,
 CONSTRAINT [PK_SkillAssessments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/24/2026 7:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[OrganizationId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260711191802_InitialCreate', N'10.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260724003537_AddCandidateProfileFields', N'10.0.9')
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([Id], [JobId], [CandidateId], [Status], [MatchScore], [AppliedDate]) VALUES (1, 16, 1, N'Interviewed', CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-07-12T18:15:42.7277049' AS DateTime2))
INSERT [dbo].[Applications] ([Id], [JobId], [CandidateId], [Status], [MatchScore], [AppliedDate]) VALUES (2, 17, 1, N'Rejected', CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-07-12T18:44:59.6648466' AS DateTime2))
INSERT [dbo].[Applications] ([Id], [JobId], [CandidateId], [Status], [MatchScore], [AppliedDate]) VALUES (1002, 1017, 1, N'Hired', CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-07-14T18:34:04.5584856' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[CandidateProfiles] ON 

INSERT [dbo].[CandidateProfiles] ([Id], [UserId], [Headline], [Skills], [ExperienceYears], [ResumeUrl], [Education], [UpdatedAt], [Address], [Certifications], [Phone], [ProfileImage]) VALUES (1, 1, N'software', N'JavaScript, TypeScript, SQL, Angular, ASP.NET, .NET, SQL Server, Git, Docker, REST API, Agile', 3, N'test-resume.pdf', N'gov', CAST(N'2026-07-24T10:41:28.0206650' AS DateTime2), N'hoamagama', N'aws', N'0784616261', N'/profile-images/1_639204694782826758.jpeg')
INSERT [dbo].[CandidateProfiles] ([Id], [UserId], [Headline], [Skills], [ExperienceYears], [ResumeUrl], [Education], [UpdatedAt], [Address], [Certifications], [Phone], [ProfileImage]) VALUES (2, 5, NULL, N'JavaScript, TypeScript, SQL, Angular, ASP.NET, .NET, SQL Server, Git, Docker, REST API, Agile', 3, N'/resumes/5_639196364702762858.pdf', NULL, CAST(N'2026-07-14T14:34:30.2913923' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CandidateProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Evaluations] ON 

INSERT [dbo].[Evaluations] ([Id], [ApplicationId], [EvaluatorId], [Score], [Feedback], [Decision], [EvaluatedAt]) VALUES (1, 1, 4, CAST(85.00 AS Decimal(18, 2)), N'Strong technical skills, good communication.', N'Advance', CAST(N'2026-07-12T18:30:41.9560004' AS DateTime2))
INSERT [dbo].[Evaluations] ([Id], [ApplicationId], [EvaluatorId], [Score], [Feedback], [Decision], [EvaluatedAt]) VALUES (2, 1, 4, CAST(90.00 AS Decimal(18, 2)), N'jhfjf', N'Advance', CAST(N'2026-07-12T18:35:39.1058549' AS DateTime2))
INSERT [dbo].[Evaluations] ([Id], [ApplicationId], [EvaluatorId], [Score], [Feedback], [Decision], [EvaluatedAt]) VALUES (3, 1, 4, CAST(90.00 AS Decimal(18, 2)), N'jhfjf', N'Hire', CAST(N'2026-07-12T18:35:58.5876556' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Evaluations] OFF
GO
SET IDENTITY_INSERT [dbo].[Interviews] ON 

INSERT [dbo].[Interviews] ([Id], [ApplicationId], [ScheduledTime], [InterviewerId], [Mode], [Notes], [Status]) VALUES (1, 1002, CAST(N'2026-06-19T02:54:00.0000000' AS DateTime2), 2, N'Online', N'', N'Scheduled')
INSERT [dbo].[Interviews] ([Id], [ApplicationId], [ScheduledTime], [InterviewerId], [Mode], [Notes], [Status]) VALUES (2, 1002, CAST(N'2026-07-24T07:56:00.0000000' AS DateTime2), 2, N'Physical', N'notes', N'Scheduled')
INSERT [dbo].[Interviews] ([Id], [ApplicationId], [ScheduledTime], [InterviewerId], [Mode], [Notes], [Status]) VALUES (3, 1, CAST(N'2026-07-18T03:06:00.0000000' AS DateTime2), 2, N'Online', N'java ', N'Scheduled')
SET IDENTITY_INSERT [dbo].[Interviews] OFF
GO
SET IDENTITY_INSERT [dbo].[JobPostings] ON 

INSERT [dbo].[JobPostings] ([Id], [RecruiterId], [OrganizationId], [Title], [Description], [RequiredSkills], [Location], [Status], [PostedDate]) VALUES (16, 2, 2, N'Software Engineer', N'We are looking for a skilled software engineer to join our team. The ideal candidate should have strong problem-solving skills and experience with modern web technologies.', N'C#, Angular, SQL', N'Colombo', N'Open', CAST(N'2026-07-12T18:13:44.6637767' AS DateTime2))
INSERT [dbo].[JobPostings] ([Id], [RecruiterId], [OrganizationId], [Title], [Description], [RequiredSkills], [Location], [Status], [PostedDate]) VALUES (17, 2, 2, N'data science', N'pakaya ', N'c# python ', N'Gampaha', N'Closed', CAST(N'2026-07-12T18:43:37.5724447' AS DateTime2))
INSERT [dbo].[JobPostings] ([Id], [RecruiterId], [OrganizationId], [Title], [Description], [RequiredSkills], [Location], [Status], [PostedDate]) VALUES (1017, 2, 2, N'data sienctice', N'mage job skills godk thiyenawa', N'c#, python. java', N'gampaha', N'Open', CAST(N'2026-07-14T14:36:52.1548526' AS DateTime2))
SET IDENTITY_INSERT [dbo].[JobPostings] OFF
GO
SET IDENTITY_INSERT [dbo].[Organizations] ON 

INSERT [dbo].[Organizations] ([Id], [Name], [Department], [CreatedAt]) VALUES (2, N'Default Company', N'General', CAST(N'2026-07-12T16:46:48.6700000' AS DateTime2))
INSERT [dbo].[Organizations] ([Id], [Name], [Department], [CreatedAt]) VALUES (3, N'Default Company', N'General', CAST(N'2026-07-12T17:08:26.8666667' AS DateTime2))
INSERT [dbo].[Organizations] ([Id], [Name], [Department], [CreatedAt]) VALUES (4, N'Default Company', N'General', CAST(N'2026-07-12T17:13:47.3266667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Organizations] OFF
GO
SET IDENTITY_INSERT [dbo].[SkillAssessments] ON 

INSERT [dbo].[SkillAssessments] ([Id], [CandidateId], [SkillName], [ProficiencyLevel], [Source]) VALUES (67, 5, N'JavaScript', NULL, N'AI-Extracted')
INSERT [dbo].[SkillAssessments] ([Id], [CandidateId], [SkillName], [ProficiencyLevel], [Source]) VALUES (68, 5, N'TypeScript', NULL, N'AI-Extracted')
INSERT [dbo].[SkillAssessments] ([Id], [CandidateId], [SkillName], [ProficiencyLevel], [Source]) VALUES (69, 5, N'SQL', NULL, N'AI-Extracted')
SET IDENTITY_INSERT [dbo].[SkillAssessments] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [OrganizationId], [IsActive], [CreatedAt]) VALUES (1, N'Kasun Perera', N'chaminduyatawara@gmail.com', N'$2a$11$nTcXCd4CST.e7nD/l9FIQ.ByAn2ECEjdzkTo8Y6G6nIJ484aOpWoi', N'Candidate', NULL, 1, CAST(N'2026-07-12T06:31:01.6090628' AS DateTime2))
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [OrganizationId], [IsActive], [CreatedAt]) VALUES (2, N'Nimal Silva', N'nimal@test.com', N'$2a$11$0QybeL.SF/REBaoMwjZ0GuAJacQ281GJRQwU3EqBew0ijTNSAmph6', N'Recruiter', NULL, 1, CAST(N'2026-07-12T12:48:49.9433703' AS DateTime2))
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [OrganizationId], [IsActive], [CreatedAt]) VALUES (3, N'Admin User', N'admin@test.com', N'$2a$11$o0OpP0DzOB.dxUftBUzQA.Qylc.vU2iNaRGNyPixTdZjULeV1Qiji', N'Admin', NULL, 1, CAST(N'2026-07-12T18:24:00.1705568' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Applications_CandidateId]    Script Date: 7/24/2026 7:42:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_CandidateId] ON [dbo].[Applications]
(
	[CandidateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_JobId]    Script Date: 7/24/2026 7:42:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_JobId] ON [dbo].[Applications]
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_UserId]    Script Date: 7/24/2026 7:42:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_UserId] ON [dbo].[AuditLogs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CandidateProfiles_UserId]    Script Date: 7/24/2026 7:42:13 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CandidateProfiles_UserId] ON [dbo].[CandidateProfiles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Evaluations_ApplicationId]    Script Date: 7/24/2026 7:42:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Evaluations_ApplicationId] ON [dbo].[Evaluations]
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Evaluations_EvaluatorId]    Script Date: 7/24/2026 7:42:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Evaluations_EvaluatorId] ON [dbo].[Evaluations]
(
	[EvaluatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Interviews_ApplicationId]    Script Date: 7/24/2026 7:42:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Interviews_ApplicationId] ON [dbo].[Interviews]
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Interviews_InterviewerId]    Script Date: 7/24/2026 7:42:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Interviews_InterviewerId] ON [dbo].[Interviews]
(
	[InterviewerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobPostings_OrganizationId]    Script Date: 7/24/2026 7:42:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_JobPostings_OrganizationId] ON [dbo].[JobPostings]
(
	[OrganizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobPostings_RecruiterId]    Script Date: 7/24/2026 7:42:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_JobPostings_RecruiterId] ON [dbo].[JobPostings]
(
	[RecruiterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SkillAssessments_CandidateId]    Script Date: 7/24/2026 7:42:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_SkillAssessments_CandidateId] ON [dbo].[SkillAssessments]
(
	[CandidateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 7/24/2026 7:42:13 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_OrganizationId]    Script Date: 7/24/2026 7:42:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_OrganizationId] ON [dbo].[Users]
(
	[OrganizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_JobPostings_JobId] FOREIGN KEY([JobId])
REFERENCES [dbo].[JobPostings] ([Id])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_JobPostings_JobId]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Users_CandidateId] FOREIGN KEY([CandidateId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_Users_CandidateId]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users_UserId]
GO
ALTER TABLE [dbo].[CandidateProfiles]  WITH CHECK ADD  CONSTRAINT [FK_CandidateProfiles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CandidateProfiles] CHECK CONSTRAINT [FK_CandidateProfiles_Users_UserId]
GO
ALTER TABLE [dbo].[Evaluations]  WITH CHECK ADD  CONSTRAINT [FK_Evaluations_Applications_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Evaluations] CHECK CONSTRAINT [FK_Evaluations_Applications_ApplicationId]
GO
ALTER TABLE [dbo].[Evaluations]  WITH CHECK ADD  CONSTRAINT [FK_Evaluations_Users_EvaluatorId] FOREIGN KEY([EvaluatorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Evaluations] CHECK CONSTRAINT [FK_Evaluations_Users_EvaluatorId]
GO
ALTER TABLE [dbo].[Interviews]  WITH CHECK ADD  CONSTRAINT [FK_Interviews_Applications_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Interviews] CHECK CONSTRAINT [FK_Interviews_Applications_ApplicationId]
GO
ALTER TABLE [dbo].[Interviews]  WITH CHECK ADD  CONSTRAINT [FK_Interviews_Users_InterviewerId] FOREIGN KEY([InterviewerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Interviews] CHECK CONSTRAINT [FK_Interviews_Users_InterviewerId]
GO
ALTER TABLE [dbo].[JobPostings]  WITH CHECK ADD  CONSTRAINT [FK_JobPostings_Organizations_OrganizationId] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobPostings] CHECK CONSTRAINT [FK_JobPostings_Organizations_OrganizationId]
GO
ALTER TABLE [dbo].[JobPostings]  WITH CHECK ADD  CONSTRAINT [FK_JobPostings_Users_RecruiterId] FOREIGN KEY([RecruiterId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobPostings] CHECK CONSTRAINT [FK_JobPostings_Users_RecruiterId]
GO
ALTER TABLE [dbo].[SkillAssessments]  WITH CHECK ADD  CONSTRAINT [FK_SkillAssessments_Users_CandidateId] FOREIGN KEY([CandidateId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SkillAssessments] CHECK CONSTRAINT [FK_SkillAssessments_Users_CandidateId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Organizations_OrganizationId] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Organizations_OrganizationId]
GO
USE [master]
GO
